<!doctype html>
    <header>
      <table style="width:100%">
        <tr>
          <th align="left">
            <a href = "{{url_for('main_menu')}}"><h1 style="font-size:400%;font-family:Advent Pro;color:black;"> Network Monitor</h1></a>
          </th>
          <th align ="right">
            <a href = "{{url_for('logout')}}">logout</a>
          </th>
        </tr>
      </table>
      {% block scripts %}{% endblock %}
    </header>

    <body>
        {% block page_title %}{%endblock%}
        {% block page %}{%endblock%}

    </body>
</html>
