<!doctype html>
<header>
  {% if user_id == 0 %}
    <h3> login </h3>
  {% endif %}
  <script type="text/javascript" src="{{ url_for('static', filename='user_login.js') }}"></script>
</header>
<body>
  {% if user_id == 0 %}
    <table>
      <tr>
        <th>
          <form id="login_form" method="post">
            <p>{{message}}</p>
            <p>Name: <input type="text" name="name" required></p><br>
            <p>Password: <input type="text" name="password" required></p><br>
            <input type="hidden" name="ip_address" id="ip_address"/>
            <script>
            getIPs(function(ip){document.getElementById("ip_address").value=ip;});
            </script>
            <input type="submit" value="login" name="Submit">
          </form>
        </th>
          <th>
            {% if user_id == 1 %}
              <a href = "{{ url_for('login') }}"> login as admin (settings)</a>
            {%endif%}
          </th>
      </tr>
    </table>
    {% else %}
      <a href = "{{ url_for('user_logout',user_id=user_id) }}">logout</a>
    {% endif %}
</body>
</html>
