{% extends "base_site.html" %}

  {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='new_user.js') }}"></script>
  {% endblock %}

  {% block page_title %}
    <h1>New user:</h1>
  {%endblock%}

  {% block page %}

    <p id="message">{{message}}</p>
    <form id="new_user_form" method="post" onsubmit="check_form()">
      <p>Name: <input type="text" name="name" required></p><br>
      <p>Password: <input type="text" name="password" required></p><br>
      <p>Confirm Password: <input type="text" name="password2" required></p><br><br>
       <!--TODO: fix form validation not working-->
      <p> Please select browsing settings:</p><br>
      <input type="radio" name="privilege" value="blacklist" checked> Blacklist (can view all sites but the listed ones)<br>
      <input type="radio" name="privilege" value="whitelist"> Whitelist (can view only the sites on the list)<br><br>
      <br><br><br>
      <input type="submit" value="Create user" name="Submit">
    </form>



  {%endblock%}
