{% extends "base_site.html" %}

  {% block page_title %}
    <h1>Users:</h1>
  {%endblock%}

  {% block page %}
    <table style="width:100%">
      <tr>
        <th align="left">
          <ul>
            {% for user in users %}
              <li>
                  <a href ={{ url_for('user_page',key=user[1] ) }}>
                      {{user[0]}} <!-- TODO: add link/redirect to a users profile -->
                  </a>
              </li>
            {% endfor %}
          </ul>
        </th>
        <th>
          <a href = "{{url_for('new_user')}}"> add new user</a>
        </th>
      </tr>
    </table>

  {%endblock%}
