{% extends "base_site.html" %}

  {% block page_title %}
    <table style="width:100%">
      <tr>
        <th align="left">
          <h1> User page for {{user[0]}} </h1>
        </th>
        <th align="right">
          <a href= "{{url_for('users')}}"><h3> return to users menu </h3></a>
        </th>
      </tr>
    </table>
  {% endblock%}

  {% block page %}
  <table style="width:100%">

    <tr>
      <th align="left">
        {% if user[2] == 1 %}
            <h2>Blacklisted sites:</h2>
        {%else%}
            <h2>Whitelisted sites:</h2>
        {%endif%}
      </th>
      <th align="left">
        <h2>Settings</h2>
      </th>
    </tr>

    <tr>
      <th align="left">
        {% if url_list != None %}
          <table style = "width:70%">
            {% for url in url_list%}
              <tr>
                <th align="left">
                  <p>  {{url[1]}}  </p>
                </th>
                <th align="right">
                  <a href ="{{ url_for('remove_url', url_id=url[0],user_id=user_id) }}"> remove </a>
                </th>
              </tr>
            {% endfor %}
          </table>

        {% else %}
          <p> there are no urls set up for this user </p>
        {% endif %}
      </th>
      <th align="left">
        <form id="settings_form" method = "POST">
          {% if user[2] == 1 %}
            <input type="radio" name="privilege" value="blacklist" checked> blacklist (can view all sites but the listed ones)<br>
            <input type="radio" name="privilege" value="whitelist"> whitelist (can view only the sites on the list)<br><br>
          {% else %}
            <input type="radio" name="privilege" value="blacklist" > blacklist (can view all sites but the listed ones)<br>
            <input type="radio" name="privilege" value="whitelist" checked> whitelist (can view only the sites on the list)<br><br>
          {% endif %}
          <input type="submit" value="Set new privilege"/>
        </form>
        <br><br><br>
        <a href = "{{url_for('show_password',password=user[1])}}">forgot password </a>
        <!-- TODO: add change passowrd option -->
       </th>
    </tr>
  </table>

  <br><br>
  <form id="add_url_form" method ="POST">
    <h5> add new site to list </h5>
    <input type="text" name="url"><br>
    <input type="submit" value="Add"/>
  </form>
  <!-- TODO: if you have time, add confirmation window to url submiting -->
  <!-- TODO: add ability to delete user -->


  {% endblock %}
